<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Yspevaika</display-name>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>ru.innopolis.stc9.servlets.servlet.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>personal</servlet-name>
        <servlet-class>ru.innopolis.stc9.servlets.servlet.StudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>personal</servlet-name>
        <url-pattern>/inner/personal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>ru.innopolis.stc9.servlets.servlet.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/inner/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomeWorksController</servlet-name>
        <servlet-class>ru.innopolis.stc9.servlets.servlet.HomeWorksController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeWorksController</servlet-name>
        <url-pattern>/inner/homework</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MarksController</servlet-name>
        <servlet-class>ru.innopolis.stc9.servlets.servlet.MarksController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarksController</servlet-name>
        <url-pattern>/inner/marks</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>auth-filter</filter-name>
        <filter-class>ru.innopolis.stc9.servlets.servlet.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>auth-filter</filter-name>
        <url-pattern>/inner/*</url-pattern>
    </filter-mapping>
</web-app>